html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
}

h1 {
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  padding: 10px;
  border: 1px solid black;
  max-width: fit-content;
  background-color: azure;
}

#due-date-picker {
  cursor: pointer;
}

/* AUTO COMPLETE CONSIGNEE */

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.autocomplete-items div:hover {
  background-color: grey;
}

.autocomplete-active {
  background-color: dodgerblue;
  color: #ffffff;
}
