html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
}

.content-wrapper {
  padding: 10px;
  border: 1px solid black;
  max-width: fit-content;
}
